<div class='forms-container remMar-form-name'>
  <div class='col-xs-12 form-name'>
    <div class="heading-component">
      <h2>CIPC Applications Administration</h2>
    </div>
  </div>
  <div class="container-lg-height col-xs-12">
    <div class="row-lg-height">
      <div class="col-lg-height bbApplyContainerMob clearfix">
        <div class="bbApplyContainer">
          <div class="panel">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
