<div class="row">
  <div class="col-md-12">
    <a (click)="redirectBack()" class="btn btn-primary">Back</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <!-- Include all the child items here   -->
    <div class="productDetailsHead">
      <p>CIPC Registration Details</p>
    </div>
    <p>
      <span class="bold">Status:</span>Awaiting Incorporation</p>
    <p>
      <span class="bold">Nedbank Reference:</span> NED_12312131231</p>
    <p>
      <span class="bold">CIPC Customer Code:</span>THE012</p>
    <p>
      <span class="bold">Enterprise Number:</span> THE012123121312</p>
    <p>
      <span class="bold">CIPC Reference Number:</span> THE012</p>
    <p>
      <span class="bold">CIPC Incorporation Number:</span> THE012</p>
    <p>
      <span class="bold">Name Reservation Status:</span> Awaiting Approval by CIPC</p>
    <p>
      <span class="bold">Enterpise Status:</span> Enterprise Information Validated Successfully</p>
    <div class="productDetailsHead">
      <p>Payment Status</p>
    </div>
    <p>
      <span class="bold">Nedbank Payment Status:</span> Inital Payment Received</p>
    <p>
      <span class="bold">CIPC Payment Status:</span> Payment not found on CIPC</p>
    <p>
      <span class="bold">CIPC Balance:</span> R 0.00</p>
    <div class="row spacer large">
      <a href='#' class="btn btn-primary">Assign Payment</a>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Include all the child items here   -->
    <div class="productDetailsHead">
      <p>Initial Name Reservation</p>
    </div>
    <p>
      <span class="bold">Name Reservation Status:</span> Awaiting Approval by CIPC</p>
    <p>
      <span class="bold">Enterprise Status:</span> Enterprise Information Validated Successfully</p>
    <p>
      <span class="bold">Name Reservation Number:</span> 121412412312</p>
    <p>
      <span class="bold">If Rejected:</span> Submit new name for Reservation</p>

    <p>
      <span class="bold">Names Submitted:</span>
    </p>
    <ul>
      <li>Company 1</li>
      <li>Company 2</li>
      <li>Company 3</li>
      <li>Company 4</li>
    </ul>
    <div class="productDetailsHead">
      <p>Name Reservation Failed</p>
    </div>
    <p>
      <span class="bold">Following Per Names Filed under Tracking number 123456</span>
    </p>
    <ul>
      <li>Company 1</li>
      <li>Company 2</li>
      <li>Company 3</li>
      <li>Company 4</li>
    </ul>
  </div>
  <div class="col-md-4">
    <!-- Include all the child items here   -->
    <div class="productDetailsHead">
      <p>New Name Reservation</p>
    </div>
    <p>
      <span class="bold">Names Submitted:</span>
    </p>
    <ul>
      <li>Company 1</li>
      <li>Company 2</li>
      <li>Company 3</li>
      <li>Company 4</li>
    </ul>
    <div class="productDetailsHead">
      <p>Approved Name</p>
    </div>
    <p>
      <span class="bold">Approved Name:</span> Company 5</p>
    <p>
      <span class="bold">Approved Number:</span> 1234567890</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Include all the child items here   -->
    <div class="productDetailsHead">
      <p>Application Information</p>
    </div>
    <div class="col-md-4">
      <div class="productDetailsHead">
        <p>Admin</p>
      </div>
      <p>
        <span class="bold">Reference Number:</span> NED_12313131</p>
      <p>
        <span class="bold">Submitted Time and Date:</span> 217/10/10 14:53</p>

      <p>
        <span class="bold">Main Product:</span> CIPC Business Registration</p>

      <p>
        <span class="bold">Chosen Solutions:</span>
      </p>
      <ul>
        <li>Business Current Account</li>
        <li>Internet banking</li>
        <li>CIPC Business Registration</li>
        <li>Payroll Solutions</li>
      </ul>
      <div class="productDetailsHead">
        <p>Files</p>
      </div>
      <ul>
        <li>Application Form</li>
        <li>applicationform.pdf</li>
        <li>CIPC Invoice</li>
        <li>cipcinvoice.pdf</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="productDetailsHead">
        <p>Business Information</p>
      </div>
      <p>
        <span class="bold">
          Financial year-end:</span> July</p>
      <p>
        <span class="bold">
          Company Telephone Number:</span> +27 123456789</p>
      <p>
        <span class="bold">
          Company Type:</span> Company</p>
      <p>
        <span class="bold">Registration Date:</span> Wednesday, April 19, 2017</p>
      <p>
        <span class="bold">Company Address:</span>
      </p>
      <p>34 test Ave</p>
      <p>Test, Gauteng</p>
      <p>South Africa</p>
      <p>2194</p>
      <p>
        <span class="bold">Postal Address:</span>
      </p>
      <p>Same as physical</p>
    </div>
    <div class="col-md-4">
      <div class="productDetailsHead">
        <p>Primary Contact Details</p>
      </div>
      <p>
        <span class="bold">First Name: </span> Director 1</p>
      <p>
        <span class="bold">Surname: </span> Director 1</p>
      <p>
        <span class="bold">Cellphone number: </span> +27 1223456789</p>
      <p>
        <span class="bold">Email Address: </span> dir1@testcompany.com</p>
      <p>
        <span class="bold">ID Number: </span> 8412125109080</p>
      <p>
        <span class="bold">Percentage shareholding: </span> 50.0%</p>
      <p>
        <span class="bold">Residential Address:</span>
      </p>
      <p>34 test Ave</p>
      <p>Test, Gauteng</p>
      <p>South Africa</p>
      <p>2194</p>
    </div>
  </div>
</div>
<div class="row spacer large col-xs-12 overscrollx col-md-12 clearfix">
  <table class="table">
    <tr>
      <th>Director</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>ID Number</th>
      <th>Contact Number</th>
      <th>Address</th>
      <th>%</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Director 1</td>
      <td>Director 1</td>
      <td>123456789</td>
      <td>+27 123456789</td>
      <td>12 Test. Germiston</td>
      <td>33</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Director 2</td>
      <td>Director 2</td>
      <td>123456789</td>
      <td>+27 123456789</td>
      <td>12 Test. Germiston</td>
      <td>33</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Director 3</td>
      <td>Director 3</td>
      <td>123456789</td>
      <td>+27 123456789</td>
      <td>12 Test. Germiston</td>
      <td>33</td>
    </tr>
  </table>
</div>
<div class="row spacer large">
  <div class="col-md-12 col-xs-12">
    <div class="col-md-6 col-xs-6">
      <button href='#' class="btn btn-primary">Incorporate Now</button>
    </div>
    <div class="col-md-6 col-xs-6">
      <button href="#" (click)='resendInformation($event)' class="btn btn-primary mlb-10">Resend Information</button>
    </div>
  </div>
</div>
<div class='resendInformation' *ngIf='showResendInformationDialog'>
  <div class='dialog set-dialog'>
    <button class='closeMe' (click)='resendInformation($event)'>X</button>
    <div class="clearfix"></div>
    <!-- Include all the child items here   -->
    <div class="col-md-12">
      <div class="productDetailsHead">
        <p>CIPC Registration Details</p>
      </div>
      <p>Please select the information you would like to resend *</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bbApplyOnlinerad">
          <span [ngClass]='{ "jcf-checked": informationToResend.director}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendDirector' (change)="informationToResend.director = !informationToResend.director"
              value="Yes">
            <label for='informationToResendDirector'>Director 1 Sent to CIPC</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.incorporator}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendIncorporator' (change)="informationToResend.incorporator = !informationToResend.incorporator"
              value="Yes">
            <label for='informationToResendIncorporator'>Incorporator Sent to CIPC</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.enterprise}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendEnterprise' (change)="informationToResend.enterprise = !informationToResend.enterprise"
              value="Yes">
            <label for='informationToResendEnterprise'>Enterprise Sent to CIPC</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.performNameReservation}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendPerformNameReservation' (change)="informationToResend.performNameReservation = !informationToResend.performNameReservation"
              value="Yes">
            <label for='informationToResendPerformNameReservation'>Perform Name Reservation</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.nameReservationProcessStarted}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendNameReservationProcessStarted' (change)="informationToResend.nameReservationProcessStarted = !informationToResend.nameReservationProcessStarted"
              value="Yes">
            <label for='informationToResendNameReservationProcessStarted'>Name Reservation Process Started</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.cipcWorkFlow}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendCipcWorkFlow' (change)="informationToResend.cipcWorkFlow = !informationToResend.cipcWorkFlow"
              value="Yes">
            <label for='informationToResendCipcWorkFlow'>CIPC Name Reservation Workflow Initiated</label>
          </span>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.fixMissingPayment}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendFixMissingPayment' (change)="informationToResend.fixMissingPayment = !informationToResend.fixMissingPayment"
              value="Yes">
          </span>
          <label for='informationToResendFixMissingPayment'>Fixed Missing Payment</label>
        </div>
        <div class='bbApplyOnlinerad'>
          <span class="jcf-checkbox " [ngClass]='{ "jcf-checked": informationToResend.regeneratePdf}'>
            <input class="component-custom-checkbox__single" type="checkbox" id='informationToResendRegeneratePdf' (change)="informationToResend.regeneratePdf = !informationToResend.regeneratePdf"
              value="Yes">
            <label for='informationToResendRegeneratePdf'>Regenerate PDF</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)='submitToCIPC($event)'>Resubmit to CIPC</button>
      </div>
    </div>
  </div>
</div>
